ul.nostyle
    padding: 0
    li
        list-style: none
    
.post p
    line-height: 2em
    text-indent: 2em
    margin: 0

main
    max-width: 600px

nav .nav-container a
    color: #cd409d

.nav-title
    font-family: $serif-primary
    font-weight: normal

.post-title, .nav-title, .catalogue-title
    color: #140867

.post-line, .catalogue-line
    border-top-color: #140867